.main-header {
    display: flex;

    .MuiPaper-root {
        background-color: white;
        display: flex;
        flex-direction: row-reverse;

        .MuiToolbar-root {
            margin-right: 20px;
        }
    }
}